main{
    background-color: #ffffff;
    margin: 50px;
}

header{
    min-width: 480px;
}


nav{
    background-color: #000000;
    text-align: right;
}

nav ul{
    display: inline-flex;
}

nav li{
    list-style: none;
    margin: 8px;
}

nav a {
    font-size: 1.5em;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

[href="#top"] {
    color: #007d7b;
    background-color: rgba(0,0,0,.35);
    border: 2px solid gray;
    padding: 5px;
    position:fixed;
    bottom:0px;
    right:0px;
    border-radius:6px 0 0px 0px;
  }

html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #000000;
    min-width: 480px;
}

figure{
    margin: 5px;
}

img{
    width: 300px;
}

figcaption{
    text-align: center;
}

p {
    font-size: 1.25em;
}


figcaption, label, input, small {
    font-size: 1em;
}

nav a {
    font-size: 1.5em;
}

h1 {
    background-color: #ffffff;
    font-size: 3em;
    color: #007d7b;
    min-width: 480px;
}

h2 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}


form {
    color: #ffffff;
    background-color: #000000;
    padding-top: 20px;
    margin: auto;
    text-align: center;
  }

 label{
    color: #ffffff;
 } 

 label,
 input {
   display: table-cell;
   margin-bottom: 10px;
 }

input{
    width: 600px;
}

  ::placeholder {
    color: #007d7b;
    font-weight: bold;
    padding-left: 5px; 
  }

  .button {
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  footer{
    color: white;
    text-align: center;
    text-transform: uppercase;
  }
    

#chile{
    color: #ffffff;
    bottom:25px;
    position: relative;
    font-size: small;
}

#Guatemala {
    color: #ffffff;
    bottom:194px;
    position: relative;
    font-size: small;
}

#Hawaii {
    color: #ffffff;
    bottom:25px;
    position: relative;
    font-size: small;
}

#iran {
    bottom:440px;
    position: relative;
    font-size: small;
}


#ireland {
    bottom:440px;
    position: relative;
    font-size: small;
}

#italy {
    bottom:25px;
    position: relative;
    font-size: small;
}

#Moab{
    color: #ffffff;
    bottom:25px;
    position: relative;
    font-size: small;
}

#Rocky-Mountains {
    bottom:194px;
    position: relative;
    font-size: small;
}

#Switzerland {
    bottom:194px;
    position: relative;
    font-size: small;
}

#UK {
    bottom:194px;
    position: relative;
    font-size: small;
}

#USA {
    bottom:194px;
    position: relative;
    font-size: small;
}

#Wyoming{
    color: #ffffff;
    bottom:194px;
    position: relative;
    font-size: small;
}